@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@keyframes rotateClockwise {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

:root {
    --primary: rgb(0, 203, 218);
    --dark: #012247;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}






/*------ Background -------*/
body {
    background-color: var(--dark);
}

.background {
    position: relative;
    top: 200px;
    margin: 0 auto;
    max-width: 700px;
    min-width: 400px;
    animation: rotateClockwise 80s linear infinite;
}

.background .shape {
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(var(--dark), var(--primary));
    left: 0px;
    top: 0px;
}

.shape:last-child {
    background: linear-gradient(var(--primary), var(--dark));
    right: 0px;
    bottom: 0px;
}
/*------ Background End -------*/








/*------ Container -------*/
.container,
.container .img-area,
.social-icons a{
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.container {
    position: relative;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container .name {
    font-size: 25px;
    color: white;
    margin: 0 0 25px 0;
    text-align: center;
}

.container .img-area {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.13);
}

.img-area .inner-area {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 50%;
    margin: 0 auto;
    align-items: center;
    background-color: white;
}

.inner-area img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.container .about {
    color: rgba(255, 255, 255, 0.897);
    letter-spacing: 0.5px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container .social-icons {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.social-icons a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    border-radius: 50%;
}

.social-icons a:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #ecf0f3;
}

.social-icons a i {
    color: var(--primary);
    position: relative;
    font-size: 20px;
    line-height: 35px;
}
/*------ Container end-------*/
