@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

@keyframes rotateClockwise {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

:root {
    --primary: rgb(0, 203, 218);
    --dark: #012247;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}






/*------ Background -------*/
body {
    max-width: 100%;
    background-color: var(--dark);
}

.background {
    position: absolute;
    top: 280px;
    left: 50%;
    animation: rotateClockwise 80s linear infinite;
}


.shape:first-child {
    position: absolute;
    top: 100px;
    left: 100px;
    color: var(--primary);
    font-size: 150px;
    font-weight: 900;
}

.shape:last-child {
    position: absolute;
    color: var(--primary);
    font-size: 150px;
    font-weight: 900;
    right: 100px;
    bottom: 100px;
}

/*------ Background End -------*/








/*------ Container -------*/
.container,
.container .img-area,
.social-icons a {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.container {
    position: relative;
    max-width: 400px;
    min-width: 320px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container .name {
    font-size: 25px;
    color: white;
    margin: 0 0 25px 0;
    text-align: center;
}

.container .img-area {
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.img-area .inner-area {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 50%;
    margin: 0 auto;
    align-items: center;
    background-color: white;
}

.inner-area img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.container .about {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.897);
    letter-spacing: 0.3px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container .social-icons {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
}

.social-icons a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #ecf0f3;
}

.social-icons a i {
    color: var(--primary);
    position: relative;
    font-size: 20px;
    line-height: 35px;
}

/*------ Container end-------*/